﻿
@{
    ViewBag.Title = "Detail Page";
    Common.Post post = (Common.Post)ViewData["post"];
}

<h2>Chosen Post</h2>
<br/>

<div class="card" style="width: 38rem;">
    <img class="card-img-top" src="@post.postImage" alt="@post.postTitle">
    <div class="card-body">
        <h5 class="card-title text-center">@post.postTitle</h5>
        <p class="card-text">@post.postContent</p>
    </div>
    <ul class="list-group list-group-flush"> 
        @if(post.categoryId == 1)
        {
        <li class="list-group-item">Category:<a href="/Category/CSharp"> C#</a></li>
        }
        else if (post.categoryId == 2)
        {
            <li class="list-group-item">Category:<a href="/Category/MVC"> MVC.Net</a></li>
        }
        else if (post.categoryId == 3)
        {
            <li class="list-group-item">Category:<a href="/Category/JavaScript"> JavaScript</a></li>
        }
        else if(post.categoryId == 4)
        {
            <li class="list-group-item">Category:<a href="/Category/CSS"> CSS</a></li>
        }
        <li class="list-group-item">Tags: @post.postTags</li>
        <li class="list-group-item">Author:<a href="/Author/Index?id=@post.User.userId"> @post.User.firstName</a></li>
    </ul>
</div>