﻿
@{
    ViewBag.Title = "Edit";
    Common.User user = (Common.User)ViewData["user"];
}

<h2>Edit Your Credentials</h2>

<form method="post" action="/Manage/EditUser">
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="firstName" name="firstName" value="@user.firstName">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="lastName" name="lastName" value="@user.lastName">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="description" name="description" value="@user.description">
        </div>
    </div>
    <button type="submit" class="btn btn-outline-dark">Save</button>    
</form>
