﻿@model EnterpriseProgrammingAssignment.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    Common.User user = (Common.User)ViewData["user"];
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <form>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" readonly value="@user.firstName">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" readonly value="@user.lastName">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" readonly value="@user.description">
                </div>
            </div>
        </form>

        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>

        <dt>Edit:</dt>
        <dd>
            [          
                @Html.ActionLink("Edit", "Edit", "Manage")
            ]
        </dd>

        <dt>Delete:</dt>
        <dd>
            [
            @Html.ActionLink("Delete", "Delete", "Manage")
            ]
        </dd>
    </dl>
</div>
