﻿@using Common
@using BusinessLogic
@{
    ViewBag.Title = "Home";
    int category = 1;
    int category2 = 2;
    int category3 = 3;
    int category4 = 4;
    List<Post> posts = new PostsOperations().GetLastFivePosts();
    List<Post> lastFiveCsharp = new PostsOperations().GetLastFiveSpecificPosts(category);
    List<Post> lastFiveMVC = new PostsOperations().GetLastFiveSpecificPosts(category2);
    List<Post> lastFiveJavaScript = new PostsOperations().GetLastFiveSpecificPosts(category3);
    List<Post> lastFiveCSS = new PostsOperations().GetLastFiveSpecificPosts(category4);
    int count = 0;
    int countCsharp = 0;
    int countMVC = 0;
    int countJavaScript = 0;
    int countCSS = 0;
}


<br/>
<div class="text-center">
    <h1>Code Masters</h1>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
        @foreach (var p in posts)
        {
            if (count == 0)
            {
            <div class="carousel-item active">
                <a href="/Detail/Post?id=@p.postId"><img class="d-block w-100" src="@p.postImage" alt="@p.postTitle"></a>
                <div class="carousel-caption d-none d-md-block">
                    <h3><a href="/Detail/Post?id=@p.postId">@p.postTitle</a></h3>
                </div>
            </div>
            }
            else
            {
                <div class="carousel-item">
                    <a href="/Detail/Post?id=@p.postId"><img class="d-block w-100" src="@p.postImage" alt="@p.postTitle"></a>
                    <div class="carousel-caption d-none d-md-block">
                        <h3><a href="/Detail/Post?id=@p.postId">@p.postTitle</a></h3>
                    </div>
                </div>
            }
            count++;
        }
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon"  aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<hr />
<div class="text-center">
    <h3>Other Blogs</h3>
    <br/>
</div>
<div class="container">
    <div class="row">
        <div class="card-group col-md-6">
            @foreach (var lc in lastFiveCsharp)
            {
                if (countCsharp == 0)
                {
                    IEnumerable<string> words = lc.postContent.Split().Take(30);
                    <div class="card" style="width: 18rem;">
                        <a href="/Detail/Post?id=@lc.postId"><img class="card-img-top" src="@lc.postImage" alt="Card image cap"></a>
                        <div class="card-body">
                            <h5><a href="/Detail/Post?id=@lc.postId">@lc.postTitle</a></h5>
                            <p class="card-text">Tags: @lc.postTags</p>
                            <p class="card-text">@foreach (string word in words) {
                                                        @String.Concat(word, " ");
                                                   }</p>
                            <p><a href="/Detail/Post?id=@lc.postId">Read More...</a></p>
                        </div>
                    </div>
                }
                else if (countCsharp == 1)
                {
                    <div class="card" style="width: 18rem;">
                        <ul class="list-group list-group-flush">
                            @for (int i = 1; i <= 4; i++)
                            {
                                <li class="list-group-item"><a href="/Detail/Post?id=@lastFiveCsharp[i].postId">@lastFiveCsharp[i].postTitle</a></li>
                            }
                        </ul>
                    </div>
                }
                
                countCsharp++;
            }
        </div>

        <div class="card-group col-md-6">
            @foreach (var lm in lastFiveMVC)
            {
                if (countMVC == 0)
                {
                    IEnumerable<string> words = lm.postContent.Split().Take(30);
                    <div class="card" style="width: 18rem;">
                        <a href="/Detail/Post?id=@lm.postId"><img class="card-img-top" src="@lm.postImage" alt="Card image cap"></a>
                        <div class="card-body">
                            <h5><a href="/Detail/Post?id=@lm.postId">@lm.postTitle</a></h5>
                            <p class="card-text">Tags: @lm.postTags</p>
                            <p class="card-text">@foreach (string word in words)
                                                {
                                                    @String.Concat(word, " ");
                                                }</p>
                            <p><a href="/Detail/Post?id=@lm.postId">Read More...</a></p>
                        </div>
                    </div>
                }
                else if (countMVC == 1)
                {
                    <div class="card" style="width: 18rem;">
                        <ul class="list-group list-group-flush">
                            @for (int i = 1; i <= 4; i++)
                            {
                                <li class="list-group-item"><a href="/Detail/Post?id=@lastFiveMVC[i].postId">@lastFiveMVC[i].postTitle</a></li>
                            }
                        </ul>
                    </div>
                }
                countMVC++;
            }
        </div>

        <div class="card-group col-md-6">
            @foreach (var ljs in lastFiveJavaScript)
            {
                if (countJavaScript == 0)
                {
                    IEnumerable<string> words = ljs.postContent.Split().Take(30);
                    <div class="card" style="width: 18rem;">
                        <a href="/Detail/Post?id=@ljs.postId"><img class="card-img-top" src="@ljs.postImage" alt="Card image cap"></a>
                            <div class="card-body">
                                <h5><a href="/Detail/Post?id=@ljs.postId">@ljs.postTitle</a></h5>
                                <p class="card-text">Tags: @ljs.postTags</p>
                                <p class="card-text">@foreach (string word in words)
                                                    {
                                                        @String.Concat(word, " ");
                                                    }</p>
                                <p><a href="/Detail/Post?id=@ljs.postId">Read More...</a></p>
                            </div>
</div>
                }
                else if (countJavaScript == 1)
                {
                    <div class="card" style="width: 18rem;">
                        <ul class="list-group list-group-flush">
                            @for (int i = 1; i <= 4; i++)
                    {
                                <li class="list-group-item"><a href="/Detail/Post?id=@lastFiveJavaScript[i].postId">@lastFiveJavaScript[i].postTitle</a></li>
                            }
                        </ul>
                    </div>
                }
                countJavaScript++;
            }
        </div>

        <div class="card-group col-md-6">
            @foreach (var lc in lastFiveCSS)
            {
                if (countCSS == 0)
                {
                    IEnumerable<string> words = lc.postContent.Split().Take(30);
                    <div class="card" style="width: 18rem;">
                        <a href="/Detail/Post?id=@lc.postId"><img class="card-img-top" src="@lc.postImage" alt="Card image cap"></a>
                            <div class="card-body">
                                <h5><a href="/Detail/Post?id=@lc.postId">@lc.postTitle</a></h5>
                                <p class="card-text">Tags: @lc.postTags</p>
                                <p class="card-text">@foreach (string word in words)
                                                    {
                                                        @String.Concat(word, " ");
                                                    }</p>
                                <p><a href="/Detail/Post?id=@lc.postId">Read More...</a></p>
                            </div>
</div>
                }
                else if (countCSS == 1)
                {
                    <div class="card" style="width: 18rem;">
                        <ul class="list-group list-group-flush">
                            @for (int i = 1; i <= 4; i++)
                    {
                                <li class="list-group-item"><a href="/Detail/Post?id=@lastFiveCSS[i].postId">@lastFiveCSS[i].postTitle</a></li>
                            }
                        </ul>
                    </div>
                }
                countCSS++;
            }
        </div>
    </div>
</div>
