﻿@model Common.Post
@{
    ViewBag.Title = "Create";
}

<div class="text-center">
    <h2>Create Post</h2>
</div>

@using (Html.BeginForm("Create", "Posts", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.postTitle, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.postTitle, new { @class = "form-control", required = "required" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.postTags, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.postTags, new { @class = "form-control", required = "required" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.postContent, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.postContent, new { @class = "form-control", required = "required" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.categoryId, new { @class = "col-md-2 control-label" })
        <select class="form-control" id="categoryId" name="categoryId">
            <option value="1">C#</option>
            <option value="2">MVC.Net</option>
            <option value="3">JavaScript</option>
            <option value="4">CSS</option>
        </select>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.postImage, new { @class = "col-md-2 control-label" })
        <div class="col-sm-10">
            <input type="file" class="form-control" id="image" name="image">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-outline-dark" value="Create Post" />
        </div>
    </div>
}
