﻿@model Common.Post
@{
    ViewBag.Title = "Edit Post";
    Common.Post p = (Common.Post)ViewData["post"];
    string selected = "selected";
}

<div class="text-center">
    <h2>Edit Post</h2>
</div>

@using (Html.BeginForm("EditPost", "Posts", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(m=>m.postId)
    <div class="form-group">
        @Html.LabelFor(m => m.postTitle, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.postTitle, new { @class = "form-control", required = "required" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.postTags, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.postTags, new { @class = "form-control", required = "required" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.postContent, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.postContent, new { @class = "form-control", required = "required" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.categoryId, new { @class = "col-md-2 control-label" })
        <select class="form-control" id="categoryId" name="categoryId">
            <option value="1" @if (p.categoryId == 1) { @selected;}>C#</option>
            <option value="2" @if (p.categoryId == 2) { @selected;}>MVC.Net</option>
            <option value="3" @if (p.categoryId == 3) { @selected;}>JavaScript</option>
            <option value="4" @if (p.categoryId == 4) { @selected;}>CSS</option>
        </select>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-outline-dark" value="Edit Post" />
        </div>
    </div>
}