﻿@using BusinessLogic;
@using Common;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Your Posts";
    var userId = User.Identity.GetUserId();
    List<Post> posts = new PostsOperations().GetPostByUserid(userId);
}

<h2>Your Posts</h2>

<div class="card-deck">
    @foreach (var p in posts)
    {
        IEnumerable<string> words = p.postContent.Split().Take(30);
        <div class="card" style="width: 18rem;">
            <a href="/Detail/Post?id=@p.postId"><img class="card-img-top" src="@p.postImage" alt="Card image cap"></a>
            <div class="card-body">
                <h3><a href="/Detail/Post?id=@p.postId">@p.postTitle</a></h3>
                <p class="card-text">@foreach (string word in words)
                                    {
                                        @String.Concat(word, " ");
                                    }</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Tags: @p.postTags</li>
                    <li class="list-group-item">Author:<a href="/Author/Index?id=@p.User.userId"> @p.User.firstName</a></li>
                </ul>
                <a href="/Posts/EditPost?id=@p.postId"><button type="submit" class="btn btn-outline-dark">Edit</button></a>
                <a class="btn btn-outline-dark" href="/Posts/Delete?id=@p.postId">Delete</a>
</div>
        </div>
    }
</div>
<br/>

<div class="text-center">
    <a href="/Posts/Create"><button type="text" class="btn btn-outline-dark">Create New Post</a></button>
</div>