﻿@using Common
@using BusinessLogic
@{
    Layout = "~/Views/Shared/_CsharpLayout.cshtml";
    ViewBag.Title = "Csharp";
    int category = 1;
    List<Post> lastPost = new PostsOperations().GetLastPost(category);
    List<Post> specificPosts = new PostsOperations().GetLastFourSpecificPosts(category);
}

<div class="text-center">
    <h2>C#</h2>
</div>

<h3>Latest Blog Post:</h3>

@foreach (var lp in lastPost)
{
    <div class="card" style="width: 18rem;">
        <a href="/Detail/Post?id=@lp.postId"><img class="card-img-top" src="@lp.postImage" alt="Card image cap"></a>
            <div class="card-body">
                <h3><a href="/Detail/Post?id=@lp.postId">@lp.postTitle</a></h3>
                <p class="card-text">@lp.postContent</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Tags: @lp.postTags</li>
                    <li class="list-group-item">Author:<a href="/Author/Index?id=@lp.User.userId"> @lp.User.firstName</a></li>
                </ul>
            </div>
    </div>

    <br />
    <hr />
}

<div class="text-center">
    <h3>Latest 4 Blog Posts</h3>
    <br />
</div>

<div class="card-deck">
    @foreach (var p in specificPosts)
    {
        <div class="card">
            <a href="/Detail/Post?id=@p.postId"><img class="card-img-top" src="@p.postImage" alt="@p.postTitle"></a>
                <div class="card-body">
                    <h5 class="card-title"><a href="/Detail/Post?id=@p.postId">@p.postTitle</a></h5>
                    <p class="card-text">@p.postContent</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Tags: @p.postTags</li>
                        <li class="list-group-item">Author:<a href="/Author/Index?id=@p.User.userId"> @p.User.firstName</a></li>
                    </ul>
                </div>
</div>
    }
</div>