﻿@using Common
@using BusinessLogic
@{
    Layout = "~/Views/Shared/_CsharpLayout.cshtml";
    ViewBag.Title = "Author's Page";
    List <Common.Post> post = (List <Common.Post>)ViewData["post"];
}

<div class="text-center">
    <h2>Author Details:</h2>
</div>

<h3>Author's Posts:</h3>

<div class="card-deck">
    @foreach (var lp in post)
    {
        IEnumerable<string> words = lp.postContent.Split().Take(30);
        <div class="card" style="width: 18rem;">
            <a href="/Detail/Post?id=@lp.postId"><img class="card-img-top" src="@lp.postImage" alt="Card image cap"></a>
            <div class="card-body">
                <h3><a href="/Detail/Post?id=@lp.postId">@lp.postTitle</a></h3>
                <p class="card-text">@foreach (string word in words)
                                    {
                                        @String.Concat(word, " ");
                                    }</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Tags: @lp.postTags</li>
                    <li class="list-group-item">Author: @lp.User.firstName</li>
                </ul>
            </div>
        </div>

        <br />
        <hr />
    }
</div>